apiVersion: logging.banzaicloud.io/v1beta1
kind: Logging
metadata:
  name: {{ include "lagoon-logging.fullname" . }}
  labels:
    {{- include "lagoon-logging.labels" . | nindent 4 }}
spec:
  enableRecreateWorkloadOnImmutableFieldChange: true
  fluentd:
  {{- with .Values.fluentdImage }}
    image:
    {{- toYaml . | nindent 6 }}
  {{- end }}
  {{- with .Values.fluentdConfigHotReloadImage }}
    configReloaderImage:
    {{- toYaml . | nindent 6 }}
  {{- end }}
    security:
      podSecurityContext:
        runAsUser: 100
        fsGroup: 0
    scaling:
      replicas: {{ .Values.fluentdReplicaCount }}
  {{- with .Values.fluentdAffinity }}
    affinity:
      {{- toYaml . | nindent 6 }}
  {{- end }}
  {{- with .Values.fluentdTolerations }}
    tolerations:
      {{- toYaml . | nindent 6 }}
  {{- end }}
  {{- with .Values.fluentdMetrics }}
    metrics:
    {{- toYaml . | nindent 6 }}
  {{- end }}
  fluentbit:
    # Enable a default liveness check to avoid stuck pods.
    # At the time of writing this just hits the metrics endpoint.
    # https://github.com/banzaicloud/logging-operator/blob/master/pkg/sdk/logging/api/v1beta1/logging_types.go#L452-L467
    livenessDefaultCheck: true
    filterKubernetes:
      namespace_labels: {{ default "Off" .Values.fluentbitNamespaceLabels | quote }}
  {{- with .Values.fluentbitImage }}
    image:
    {{- toYaml . | nindent 6 }}
  {{- end }}
  {{- with .Values.fluentbitConfigHotReloadImage }}
    configHotReload:
      image:
      {{- toYaml . | nindent 8 }}
  {{- end }}
  {{- if .Values.fluentbitPrivileged }}
    security:
      securityContext:
        privileged: true
  {{- end }}
  {{- with .Values.fluentbitTolerations }}
    tolerations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.fluentbitMetrics }}
    metrics:
    {{- toYaml . | nindent 6 }}
  {{- end }}
  controlNamespace: {{ .Release.Namespace | quote }}
