apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}
  labels:
    {{- include "lagoon-logging.logsDispatcher.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.logsDispatcher.replicaCount }}
  serviceName: {{ include "lagoon-logging.logsDispatcher.fullname" . }}
  selector:
    matchLabels:
      {{- include "lagoon-logging.logsDispatcher.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/logs-dispatcher.secret.yaml") . | sha256sum }}
        checksum/env-configmap: {{ include (print $.Template.BasePath "/logs-dispatcher.env.configmap.yaml") . | sha256sum }}
        checksum/fluent-conf-configmap: {{ include (print $.Template.BasePath "/logs-dispatcher.fluent-conf.configmap.yaml") . | sha256sum }}
        {{- if .Values.exportLogs }}
        checksum/store-configmap: {{ include (print $.Template.BasePath "/logs-dispatcher.store.configmap.yaml") . | sha256sum }}
        {{- end }}
        {{- if .Values.lagoonLogs.enabled }}
        checksum/source-lagoon-configmap: {{ include (print $.Template.BasePath "/logs-dispatcher.source-lagoon.configmap.yaml") . | sha256sum }}
        {{- end }}
    {{- with .Values.logsDispatcher.podAnnotations }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "lagoon-logging.logsDispatcher.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "lagoon-logging.logsDispatcher.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.logsDispatcher.podSecurityContext | nindent 8 }}
      initContainers:
      - image: busybox:musl
        imagePullPolicy: IfNotPresent
        name: chown-buffer
        command:
        - chown
        - '100:0'
        - /fluentd/buffer
        volumeMounts:
        - mountPath: /fluentd/buffer/
          name: buffer
      containers:
      - name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-fluentd
        securityContext:
          {{- toYaml .Values.logsDispatcher.securityContext | nindent 10 }}
        image: "{{ .Values.logsDispatcher.image.repository }}:{{ coalesce .Values.logsDispatcher.image.tag .Values.imageTag "latest" }}"
        imagePullPolicy: {{ .Values.logsDispatcher.image.pullPolicy }}
        ports:
        - containerPort: 24224
          protocol: TCP
          name: forward
        - containerPort: 24225
          protocol: TCP
          name: haproxy-forward
        - containerPort: 24226
          protocol: TCP
          name: cdn-forward
        - containerPort: 24231
          protocol: TCP
          name: metrics
        - containerPort: 5140
          protocol: UDP
          name: application
        readinessProbe:
          tcpSocket:
            port: 24224
          initialDelaySeconds: 20
          periodSeconds: 20
          timeoutSeconds: 2
        livenessProbe:
          tcpSocket:
            port: 24224
          initialDelaySeconds: 120
          periodSeconds: 60
          timeoutSeconds: 2
        volumeMounts:
        - mountPath: /fluentd/etc/fluent.conf
          name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-fluent-conf
          subPath: fluent.conf
        {{- if .Values.exportLogs }}
        - mountPath: /fluentd/etc/store.d
          name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-store
        {{- end }}
        {{- if .Values.lagoonLogs.enabled }}
        - mountPath: /fluentd/etc/source.d
          name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-source-lagoon
        {{- end }}
        - mountPath: /fluentd/buffer/
          name: buffer
        {{- if and .Values.enableDefaultForwarding .Values.forward.mTLS }}
        - mountPath: /fluentd/tls/
          name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-tls
        {{- end }}
        {{- if .Values.lagoonLogs.broker.tlsCA.enabled }}
        - mountPath: /lagoon-ca.crt
          name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-lagoon-broker-tls
          subPath: ca.crt
        {{- end }}
        env:
        - name: K8S_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        envFrom:
          {{- if .Values.logsDispatcher.extraEnvSecret }}
          - secretRef:
              name: {{ .Values.logsDispatcher.extraEnvSecret }}
              optional: true
          {{- end }}
          - secretRef:
              name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-env
          - configMapRef:
              name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-env
        resources:
          {{- toYaml .Values.logsDispatcher.resources | nindent 10 }}
      {{- with .Values.logsDispatcher.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.logsDispatcher.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.logsDispatcher.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - configMap:
          defaultMode: 420
          items:
          - key: fluent.conf
            path: fluent.conf
          name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-fluent-conf
        name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-fluent-conf
      {{- if .Values.exportLogs }}
      - configMap:
          defaultMode: 420
          name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-store
        name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-store
      {{- end }}
      {{- if .Values.lagoonLogs.enabled }}
      - configMap:
          defaultMode: 420
          name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-source-lagoon
        name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-source-lagoon
      {{- end }}
      {{- if and .Values.enableDefaultForwarding .Values.forward.mTLS }}
      - secret:
          defaultMode: 420
          secretName: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-tls
        name: {{ include "lagoon-logging.logsDispatcher.fullname" . }}-tls
      {{- end }}
      {{- if .Values.lagoonLogs.broker.tlsCA.enabled }}
      - name: {{ include "lagoon-build-deploy.fullname" . }}-lagoon-broker-tls
        secret:
          secretName: {{ .Values.lagoonLogs.broker.tlsCA.secretName }}
      {{- end }}
  volumeClaimTemplates:
  - metadata:
      name: buffer
    spec:
      accessModes:
      - ReadWriteOnce
      {{- with .Values.logsDispatcher.buffer.storageClassName }}
      storageClassName: {{ . }}
      {{- end }}
      resources:
        requests:
          storage: {{ .Values.logsDispatcher.buffer.size }}
