# Any values defined here are not used anywhere other than lint/CI.

# To be deprecated - see uselagoon/lagoon#2907
harborURL: http://disabled-only-use-harbor-via-deploy-controller.invalid
harborAdminPassword: not-needed

# used in api
elasticsearchURL: http://opendistro-es-client-service.opendistro-es.svc.cluster.local:9200
kibanaURL: http://opendistro-es-kibana-svc.opendistro-es.svc.cluster.local:443
logsDBAdminPassword: admin
s3FilesAccessKeyID: minio
s3FilesBucket: lagoon-files
s3FilesHost: http://minio:9000
s3FilesSecretAccessKey: minio123
s3BAASAccessKeyID: baas
s3BAASSecretAccessKey: baas123
lagoonUIURL: http://ui:9101
lagoonWebhookURL: http://webhook:11213
defaultIngressClassName: nginx

sshTokenEndpoint: ssh-token.example.com

# used in ui
# lagoonAPIURL: https://api.example.com/graphql
# keycloakFrontEndURL: https://keycloak.example.com

keycloakAdminEmail: admin@example.com

api:
  replicaCount: 1
  image:
    repository: uselagoon/api
  resources:
    requests:
      cpu: "10m"

apiDB:
  image:
    repository: uselagoon/api-db
  storageSize: 16Gi
  resources:
    requests:
      cpu: "10m"

apiRedis:
  image:
    repository: uselagoon/api-redis
  resources:
    requests:
      cpu: "10m"

apiSidecarHandler:
  image:
    repository: uselagoon/api-sidecar-handler

actionsHandler:
  replicaCount: 1
  image:
    repository: uselagoon/actions-handler

keycloak:
  keycloakFrontEndURL: https://keycloak.example.com
  realmSettings:
    enabled: true
    options:
      resetPasswordAllowed: true
      rememberMe: true
  email:
    enabled: true
    settings:
      host: mailhog
      port: '1025'
      fromDisplayName: Lagoon
      from: lagoon@example.com
      replyToDisplayName: Lagoon No-Reply
      replyTo: lagoon@example.com
      envelopeFrom: lagoon@example.com
  image:
    repository: uselagoon/keycloak
  resources:
    requests:
      cpu: "10m"
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"

keycloakDB:
  image:
    repository: uselagoon/keycloak-db
  resources:
    requests:
      cpu: "10m"

broker:
  replicaCount: 1
  serviceMonitor:
    enabled: false
  image:
    repository: uselagoon/broker
  resources:
    requests:
      cpu: "10m"

authServer:
  replicaCount: 1
  image:
    repository: uselagoon/auth-server
  resources:
    requests:
      cpu: "10m"

webhooks2tasks:
  replicaCount: 1
  image:
    repository: uselagoon/webhooks2tasks
  resources:
    requests:
      cpu: "10m"

webhookHandler:
  replicaCount: 1
  image:
    repository: uselagoon/webhook-handler
  resources:
    requests:
      cpu: "10m"

ui:
  replicaCount: 1
  image:
    repository: uselagoon/ui
  resources:
    requests:
      cpu: "10m"

backupHandler:
  replicaCount: 1
  image:
    repository: uselagoon/backup-handler
  resources:
    requests:
      cpu: "10m"

insightsHandler:
  image:
    repository: uselagoon/insights-handler
    tag: main

logs2notifications:
  replicaCount: 1
  image:
    repository: uselagoon/logs2notifications

drushAlias:
  replicaCount: 1
  image:
    repository: uselagoon/drush-alias

ssh:
  replicaCount: 1
  image:
    repository: uselagoon/ssh
  resources:
    requests:
      cpu: "10m"

sshPortalAPI:
  enabled: true
  replicaCount: 1
  debug: true
  serviceMonitor:
    enabled: false

sshToken:
  enabled: true
  replicaCount: 1
  debug: true
  serviceMonitor:
    enabled: false
  service:
    type: NodePort
    ports:
      sshserver: 2223
  hostKeys:
    ed25519: |
      -----BEGIN OPENSSH PRIVATE KEY-----
      b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
      QyNTUxOQAAACA/YqlzbdTqR53BHcDhvP0EVepZ66ZIT2HaXSpxdzwhMgAAAIgc+EPKHPhD
      ygAAAAtzc2gtZWQyNTUxOQAAACA/YqlzbdTqR53BHcDhvP0EVepZ66ZIT2HaXSpxdzwhMg
      AAAECW61aE011GKLSFBJ82G6oGEOjJSUV3STx16veSvX38kD9iqXNt1OpHncEdwOG8/QRV
      6lnrpkhPYdpdKnF3PCEyAAAAAAECAwQF
      -----END OPENSSH PRIVATE KEY-----

controllerhandler:
  replicaCount: 1
  image:
    repository: uselagoon/controllerhandler

imageTag: ""

workflows:
  replicaCount: 1
  image:
    repository: uselagoon/workflows

# enable nats cluster (and optionally natsbox debugger)
nats:
  enabled: true
  cluster:
    name: lagoon-core-ci-example
  # natsbox:
  #   enabled: true
  #   # additional labels are required due to the network policy
  #   additionalLabels:
  #     lagoon-core-nats-client: "true"

natsService:
  type: ClusterIP

natsConfig:
  users:
    lagoonRemote:
    - user: ci-ssh-portal
      password: ci-password
  tls:
    secretData:
      ca.crt: |
        -----BEGIN CERTIFICATE-----
        MIIBgDCCASagAwIBAgIUUbG6sFBXxdA1wxjmlt/zkfpQTTwwCgYIKoZIzj0EAwIw
        HjEcMBoGA1UEAxMTbmF0cy1jYS5leGFtcGxlLmNvbTAeFw0yNDA0MTUwNDA4MDBa
        Fw0zNDA0MTMwNDA4MDBaMB4xHDAaBgNVBAMTE25hdHMtY2EuZXhhbXBsZS5jb20w
        WTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAATRF6Wjy5sm5quCKkqFBZERPcrCj2fL
        xKjCNDJtwZijhR/DoHPImxnxXbcNuqXmFENDsleAXBb0YHTC6nauSCVmo0IwQDAO
        BgNVHQ8BAf8EBAMCAQYwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUPCFB/EwR
        pk6xM9YSqzbLgchB6fQwCgYIKoZIzj0EAwIDSAAwRQIgCSCLQTN1K703YR/VXY+G
        iYmI+nuDxvSE7s/u5hhmh+wCIQDXoxiQvQuokI06j6W1K5UgR6h9dUoKeTFQIqXp
        uKPLhg==
        -----END CERTIFICATE-----
      server.crt: |
        -----BEGIN CERTIFICATE-----
        MIICGDCCAb6gAwIBAgIUJC6a9n2zJYl7nOZ2AutYhyjVmQswCgYIKoZIzj0EAwIw
        HjEcMBoGA1UEAxMTbmF0cy1jYS5leGFtcGxlLmNvbTAeFw0yNDA0MTUwNDA4MDBa
        Fw0zNDA0MTMwNDA4MDBaMCgxJjAkBgNVBAMTHWxhZ29vbi1jb3JlLW5hdHMtY29u
        Y2VudHJhdG9yMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAENf2wtlM9sSu330UX
        gZTkAOZBRkH2V6YZG7rB/7pTtO0yKQmIfr+lK1mz+rBGD+GIUJQH5tOh6ufSx8ca
        ut1bfaOBzzCBzDAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYBBQUHAwEw
        DAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUtH0LRNOWRz/mKPbaC5CbmWstAKEwHwYD
        VR0jBBgwFoAUPCFB/EwRpk6xM9YSqzbLgchB6fQwVwYDVR0RBFAwToIdbGFnb29u
        LWNvcmUtbmF0cy1jb25jZW50cmF0b3KCLWxhZ29vbi1jb3JlLW5hdHMtY29uY2Vu
        dHJhdG9yLmxhZ29vbi1jb3JlLnN2YzAKBggqhkjOPQQDAgNIADBFAiEA/K5i1Ywq
        CaKsntUSiMDTZSYvEtLb+ZxOn71RnDYP4JUCIG6TZVFfMiYPZ0gGLMRMf666E3bB
        0U5vgRqQhghJPbpM
        -----END CERTIFICATE-----
      server.key: |
        -----BEGIN EC PRIVATE KEY-----
        MHcCAQEEIBqSIJXbR9H4WChftIW2QwJmGD+5QjlfwBCkspRBcsSHoAoGCCqGSM49
        AwEHoUQDQgAENf2wtlM9sSu330UXgZTkAOZBRkH2V6YZG7rB/7pTtO0yKQmIfr+l
        K1mz+rBGD+GIUJQH5tOh6ufSx8caut1bfQ==
        -----END EC PRIVATE KEY-----
