ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
  paths: ["/"]
  hosts:
    - {{ .Values.auth.host }}
  tls:
    - secretName: {{ .Values.auth.host }}-tls
      hosts:
        - {{ .Values.auth.host }}.local

config: {{ toYaml .Values.auth.vouchConfig}}
