ingress:
  enabled: true
  annotations:
    kubernetes.io/tls-acme: "true"
  paths: ["/"]
  hosts:
    - {{ .Values.auth.host }}
  tls:
    - secretName: {{ .Values.auth.host }}-tls
      hosts:
        - {{ .Values.auth.host }}

config:
{{- toYaml .Values.auth.vouchConfig | nindent 2 }}
