apiVersion: v2
name: lagoon-build-deploy
description:
  A Helm chart for Kubernetes which installs Lagoon remote controllers which are used for handling build and task pods
  (https://github.com/uselagoon/remote-controller).
home: https://github.com/uselagoon/lagoon-charts
icon: https://raw.githubusercontent.com/uselagoon/lagoon-charts/main/icon.png
maintainers:
- name: shreddedbacon
  email: ben.jackson@amazee.io
  url: https://amazee.io
- name: smlx
  email: scott.leggett@amazee.io
  url: https://amazee.io
kubeVersion: ">= 1.23.0-0"

type: application

version: 0.27.0

appVersion: v0.15.6

annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: update remote-controller image to v0.15.6
