# the following values are requried and have no sensible default

lagoonTargetName: ""
rabbitMQHostname: ""
rabbitMQPassword: ""
rabbitMQUsername: ""
taskSSHHost: ""
taskSSHPort: ""
taskAPIHost: ""

# if using controller namespace prefixing, define that prefix here
# limited to 8 characters (will be truncated by controller if it exceeds this)
namespacePrefix: ""

# The following values are optional. They tell the build-deploy controller to
# set an environment variable on the build pods which enforces the state of the
# feature flag. Valid values are `enabled` or `disabled`.

# lagoonFeatureFlagForceRootlessWorkload: enabled
# lagoonFeatureFlagDefaultRootlessWorkload: enabled
# lagoonFeatureFlagForceIsolationNetworkPolicy: disabled
# lagoonFeatureFlagDefaultIsolationNetworkPolicy: disabled
# lagoonFeatureFlagForceInsights: disabled
# lagoonFeatureFlagDefaultInsights: disabled
# lagoonFeatureFlagForceRWX2RWO: disabled
# lagoonFeatureFlagDefaultRWX2RWO: disabled

# It is also possible to define feature flags using `extraEnvs` by defining them like so
# this method is useful for enabling features on the fly, ones that might not have built in support
# in remote-controller, but as of v0.5.0 of remote-controller, these are passed into build pods
# automatically (anything prefixed with `LAGOON_FEATURE_FLAG_`)
#   extraEnvs:
#     - name: "LAGOON_FEATURE_FLAG_FORCE_ROOTLESS_WORKLOAD"
#       value: "enabled"

# add extra environment variables if required
extraEnvs:

# the following values can be used to override the default
# backup configurations for a dedicated cluster

# lagoonFeatureFlagBackupWeeklyRandom: false
# lagoonBackupDefaultSchedule: "M H(22-2) * * *"
# lagoonBackupDefaultHourlyRetention: 0
# lagoonBackupDefaultDailyRetention: 7
# lagoonBackupDefaultWeeklyRetention: 5
# lagoonBackupDefaultMonthlyRetention: 12

# it is also possible to allow the controller to purge harbor of the associated repositories
# when an environment is deleted, this can be enabled by setting the following to true
# if the remote is sharing a harbor with another remote, and migrations are taking place then enabling
# this feature could cause issues with images missing if one remote deletes an environment that is migrated in another remote
# note: only works if harbor is enabled too
# enableHarborRepositoryCleanUp: false

# the following value can be used to override the default
# cronjob interval defined in builds

# nativeCronPodMinFrequency: 30

## proxy configurations
# httpProxy: ""
# httpsProxy: ""
# noProxy: ""

## enable build pods to be injected with the HTTP_PROXY, HTTPS_PROXY, NO_PROXY variables if they are defined
# enablePodProxy: false
## enable pods to use a different proxy than the controller
# podsUseDifferentProxy: false
# podHTTPProxy: ""
# podHTTPSProxy: ""
# podNoProxy: ""

# the following values are defaults which may be overridden

# rootlessBuildPods tells the build-deploy controller to create build pods
# which do not run as root. See https://github.com/amazeeio/lagoon/pull/2481
# for details.
rootlessBuildPods: false

# enableServiceMonitor adds a servicemonitor for lagoon metrics, and the ability to adjust the scraping interval
enableServiceMonitor: false
metrics:
  interval: 30s

# set these to your harbor configuration
harbor:
  enabled: false
  # the following are REQUIRED values if harbor is enabled
  adminPassword: Harbor12345
  adminUser: admin
  host: http://registry.172.16.0.1.nip.io:32080

extraArgs:

pendingMessageCron: "15,45 * * * *"

# The controller will use `uselagoon/kubectl-build-deploy-dind:latest` by
# default, but this can be overridden here.
overrideBuildDeployImage: ""

# override .Chart.Name
nameOverride: ""

image:
  repository: uselagoon/remote-controller
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []

serviceAccount:
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8443

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

# this is a sidecar in the same pod as the lagoonBuildDeploy container
kubeRBACProxy:
  image:
    repository: gcr.io/kubebuilder/kube-rbac-proxy
    pullPolicy: IfNotPresent
    tag: v0.4.1

  securityContext: {}

  resources: {}
