apiVersion: v2
name: lagoon-remote
description: A Helm chart to run a lagoon-remote
home: https://github.com/uselagoon/lagoon-charts
icon: https://raw.githubusercontent.com/uselagoon/lagoon-charts/main/icon.png
maintainers:
- name: schnitzel
  email: michael@amazee.com
  url: https://amazee.io
- name: smlx
  email: scott.leggett@amazee.io
  url: https://amazee.io
kubeVersion: ">= 1.21.0-0"

# Application charts are a collection of templates that can be packaged into
# versioned archives to be deployed.
type: application

# This is the chart version. This version number should be incremented each
# time you make changes to the chart and its templates, including the app
# version.
version: 0.76.0

dependencies:
- name: lagoon-build-deploy
  version: ~0.21.0
  repository: https://uselagoon.github.io/lagoon-charts/
  condition: lagoon-build-deploy.enabled
- name: dioscuri
  version: ~0.4.0
  repository: https://amazeeio.github.io/charts/
  condition: dioscuri.enabled
- name: dbaas-operator
  version: ~0.3.0
  repository: https://amazeeio.github.io/charts/
  condition: dbaas-operator.enabled
- name: nats
  version: ~0.18.0
  repository: https://nats-io.github.io/k8s/helm/charts/
  condition: nats.enabled

# This section is used to collect a changelog for artifacthub.io
# It should be started afresh for each release
# Valid supported kinds are added, changed, deprecated, removed, fixed and security
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: update lagoon-build-deploy subchart to 0.21.0
