# Default values for lagoon-remote.

# global values which can affect subcharts
global:
  # set to true to enable openshift support
  openshift: false
  rabbitMQUsername: ""
  rabbitMQPassword: ""
  rabbitMQHostname: ""
  broker:
    # enable if providing a custom CA for broker connections
    tlsCA:
      enabled: false
      secretName: lagoon-remote-broker-tls
      # secretData:
      #   ca.crt: |
      #     ...
    tls:
      enabled: false
      # https://www.rabbitmq.com/docs/ssl#enabling-tls for what these options can be set to
      verifyPeer: true

imagePullSecrets: []

logsDispatcherHost: |-
  lagoon-logging-logs-dispatcher.lagoon-logging.svc.cluster.local

# If this value is set, it will create an `mxout` ExternalName service in the
# deployed namespace pointing at the given host. This service can then be used
# by workloads running in-cluster to connect to a platform-provided mailserver.
mxoutHost: ""

# this default image tag is set for all services and can be overridden
# on the service level, if not set it uses chart appVersion
imageTag: ""

dockerHost:
  image:
    repository: uselagoon/docker-host
    pullPolicy: Always
    # Overrides the image tag whose default is "latest".
    tag: "v3.6.1"

  name: docker-host

  registry: registry.lagoon.svc:5000

  repositoryToUpdate: amazeeio|lagoon

  pruneImagesUntil: 168h

  # Add annotations to pod template
  podAnnotations: {}

  replicaCount: 1

  ## proxy configuration
  # httpProxy: ""
  # httpsProxy: ""
  # noProxy: ""

  # add extra environment variables if required
  extraEnvs:

  storage:
    create: true
    size: 750Gi
    # className sets the storageClassName for the docker-host PVC. This is
    # useful if the docker-host requires a specific storage class for features
    # such as increased IOPS.
    #
    # WARNING: On platforms such as AKS not all storage volume classes can be
    # bound to all node types. So if you configure a storage class that can't
    # be bound to any nodes in the cluster it will cause the docker-host pod to
    # fail to schedule. For example AKS requires Premium Storage suport on the
    # node for the managed-premium storage class.
    #
    # If className is not defined the chart will not set any specify storage
    # class on the PVC, effectively falling back to the cluster default.
    #
    # className: managed-premium

  networkPolicy:
    # Specifies whether the docker-host network policy should be enabled
    enabled: true

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname
    # template
    name:

  podSecurityContext: {}

  securityContext:
    privileged: true
    seLinuxOptions:
      # Ensures selinux relabeling is disabled, this would case the container never to start
      # as there can be so many files in the persistent storage
      type: spc_t

  resources: {}

  service:
    type: ClusterIP
    port: 2375

  tolerations:
  - key: lagoon/build
    effect: NoSchedule
    operator: Exists
  - key: lagoon/build
    effect: PreferNoSchedule
    operator: Exists
  - key: lagoon.sh/build
    effect: NoSchedule
    operator: Exists
  - key: lagoon.sh/build
    effect: PreferNoSchedule
    operator: Exists

# sshCore creates a restricted, non-expiring ServiceAccount token for use by
# lagoon-core.
sshCore:
  enabled: false
  serviceAccount:
    annotations: {}
    # The name of the service account to use.
    # If not set, a name is generated using the fullname
    # template
    name: ""

# sshPortal is an optional service providing low-latency SSH connectivity to
# Lagoon environments.
sshPortal:
  enabled: false
  replicaCount: 2
  image:
    repository: ghcr.io/uselagoon/lagoon-ssh-portal/ssh-portal
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "v0.45.0"

  service:
    type: LoadBalancer
    ports:
      sshserver: 22
    annotations: {}
    # externalTrafficPolicy: ""
    # loadBalancerSourceRanges: []

  metricsService:
    type: ClusterIP
    ports:
      metrics: 9912

  podAnnotations: {}

  securityContext: {}

  resources: {}

  additionalEnvs: {}

  serviceAccount:
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname
    # template
    name: ""

  serviceMonitor:
    enabled: true

  # host keys, PEM encoded
  hostKeys:
    ecdsa: ""
    ed25519: ""
    rsa: ""

  # Log access via SSH is disabled by default.
  # Uncomment this line to enable log access via SSH.
  # logAccessEnabled: true

# This subchart is disabled by default until this build-deploy type is in
# widespread use.
lagoon-build-deploy:
  enabled: false
  # these values are used by the lagoon-build-deploy controller and do not have
  # sensible defaults.
  # lagoonTargetName:
  # taskSSHHost: "" # use lagoonTokenHost
  # taskSSHPort: "" # use lagoonTokenPort
  # taskAPIHost: "" # use lagoonAPIHost
  # lagoonTokenHost: ""
  # lagoonTokenPort: ""
  # lagoonAPIHost: ""
  # sshPortalHost: ""
  # sshPortalPort: ""
  # See the parent chart for the full range of values that can be passed here to control builds
  # https://github.com/uselagoon/lagoon-charts/blob/main/charts/lagoon-build-deploy/values.yaml

# dbaas-operator provisions database-as-a-service accounts for projects.
# Example provider configuration can be found in the dbaas-operator values.yaml
# https://github.com/amazeeio/charts/blob/main/charts/dbaas-operator/values.yaml
# This subchart is disabled by default for legacy reasons. It will be enabled
# by default in future as this is a core Lagoon feature.
dbaas-operator:
  enabled: false
  enableMariaDBProviders: true
  enableMongoDBProviders: true
  enablePostreSQLProviders: true

# if you are using the dbaas-operator in a different release, you can define the http endpoint to use here
# setting this will always override whatever `dbaas-operator` would set, useful if you want to target a different endpoint
dbaasHTTPEndpoint: ""

# lagoon-insights-remote:
#   enabled: false
  # burnAfterReading: false

insightsRemote:
  enabled: false
  # sets insights configMaps to be removed after being processed
  burnAfterReading: true

  replicaCount: 1

  # This is the secret used to sign JWT's injected into environments
  # This shouldn't need to be changed in most circumstances - here for completion
  # insightsTokenSecret: ""

  image:
    repository: uselagoon/insights-remote
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: "v0.0.15"

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  # add extra environment variables if required
  extraEnvs:

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000
  # service:
  #   type: ClusterIP
  #   port: 80
  # ingress:
  #   enabled: false
  #   className: ""
  #   annotations: {}
  #     # kubernetes.io/ingress.class: nginx
  #     # kubernetes.io/tls-acme: "true"
  #   hosts:
  #     - host: chart-example.local
  #       paths:
  #         - path: /
  #           pathType: ImplementationSpecific
  #   tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}

  tolerations: []

  affinity: {}

  service:
    type: ClusterIP
    port: 80

  broker:
    # enable if providing a custom CA for broker connections
    tlsCA:
      enabled: false
      # if you're definining configuration using the "global" broker settings, this secretName
      # will not be used
      secretName: lagoon-remote-insights-broker-tls
      # secretData:
      #   ca.crt: |
      #     ...
    tls:
      enabled: false
      verifyPeer: true

# the nats chart is a subchart which is configured for use by lagoon-remote
# nats subchart is configured for use by lagoon-remote
nats:
  enabled: false
  # nameOverride provides compatibility for upgrading nats chart versions.
  # modifying or setting this in local values.yaml will completely recreate
  # all the nats resources.
  nameOverride: nats1
  tlsCA:
    enabled: true
    secretName: lagoon-remote-nats-tls
  # Uncomment this block to enable monitoring if you have Prometheus Operator
  # installed.
  # promExporter:
  #   enabled: true
  #   podMonitor:
  #     enabled: true
  #     # fromNamespaces restricts the namespaces from which monitoring can occur
  #     # via the NetworkPolicy. At least one namespace name must be listed.
  #     fromNamespaces:
  #     - monitoring
  natsBox:
    enabled: false
  config:
    cluster:
      enabled: true
      name: lagoon-remote
      # internal cluster IPs are not routable, so don't advertise them
      noAdvertise: true
    merge:
      00$include: ./lagoon-remote/leafnodes.conf
  # Uncomment this block if upgrading from lagoon-remote <v0.82.0.
  # statefulSet:
  #   patch:
  #   - op: remove
  #     path: /spec/selector/matchLabels/app.kubernetes.io~1component
  podTemplate:
    patch:
    - op: add
      path: /spec/volumes/-
      value:
        name: lagoon-remote-nats-conf
        secret:
          secretName: lagoon-remote-nats-conf
    - op: add
      path: /spec/volumes/-
      value:
        name: lagoon-remote-nats-tls
        secret:
          secretName: lagoon-remote-nats-tls
  container:
    patch:
    - op: add
      path: /volumeMounts/-
      value:
        name: lagoon-remote-nats-conf
        mountPath: /etc/nats-config/lagoon-remote
    - op: add
      path: /volumeMounts/-
      value:
        name: lagoon-remote-nats-tls
        mountPath: /etc/nats-certs/leafnodes
  # to connect to nats, pods must have the right label
  extraResources:
  - apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      name:
        $tplYaml: >
          {{ include "nats.fullname" $ | quote }}
      labels:
        $tplYaml: |
          {{ include "nats.labels" $ }}
    spec:
      policyTypes:
      - Ingress
      podSelector:
        matchLabels:
          $tplYaml: |
            {{- include "nats.selectorLabels" $ }}
      ingress:
      - from:
        # pods in this namespace with the correct label can access NATS pods
        - podSelector:
            matchLabels:
              lagoon-remote-nats-client: "true"
        # NATS inter-pod communication is allowed
        - podSelector:
            matchLabels:
              $tplYaml: |
                {{- include "nats.selectorLabels" $ }}
      # conditionally allow metrics collection
      - $tplYamlSpread: |
          {{- if and .Values.promExporter.enabled .Values.promExporter.podMonitor.enabled }}
          - from:
            {{- range .Values.promExporter.podMonitor.fromNamespaces }}
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: {{ . | quote }}
            {{- end }}
            ports:
            - port: 7777
              protocol: TCP
          {{- end }}


# Configuration for the nats subchart
natsConfig:
  # coreURL format tls://<username>:<password>@<host>:7422
  coreURL: ""
  # use this if you're only providing the ca certificate to nats.
  # this can be used if you've got lagoon-core leafnode tls verify disabled
  tls:
    # this enables the tls block in the nats secret. if your nats is configured to use a public certificate
    # and you are not using client certificates, you can set this to `false`.
    # this value needs to be `true` if `caOnly` is also `true`
    enableCerts: true
    caOnly: false
    # If the lagoon-remote-nats-tls secret should be created by the
    # lagoon-remote chart, certificate values can be specified directly in
    # secretData. Configuring TLS this way also allows specifying a custom
    # ca.crt. The chart expects expects secretData to be specified unless
    # nats.tlsCA.enabled is set to false.
    #
    # secretData:
    #   ca.crt: |
    #     ...
    #   tls.crt: |
    #     ...
    #   tls.key: |
    #     ...
    #
    # If the TLS secret is created outside the lagoon-remote chart, it should
    # be named lagoon-remote-nats-tls. This secret should contain fields
    # tls.crt and tls.key, and the certificate should be issued by a public
    # authority. `nats.tlsCA.enabled: false` should be set in this case (it is
    # true by default).

storageCalculator:
  enabled: false
  # cronjob: 5 */12 * * *
  # ignoreRegex: "solr|redis"
  serviceAccount:
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname
    # template
    name:

  metricsService:
    type: ClusterIP
    ports:
      metrics: 8443

  serviceMonitor:
    enabled: true

  image:
    repository: uselagoon/remote-calculator
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: v0.9.0

  broker:
    # enable if providing a custom CA for broker connections
    tlsCA:
      enabled: false
      # if you're definining configuration using the "global" broker settings, this secretName
      # will not be used
      secretName: lagoon-remote-storage-broker-tls
      # secretData:
      #   ca.crt: |
      #     ...
    tls:
      enabled: false
      verifyPeer: true

# sysctlConfigure is used  to configure sysctl options on nodes for use by elasticsearch/opensearch pods used in lagoon
# https://github.com/uselagoon/lagoon/issues/2588
# the elasticsearch/opensearch templates in the `build-deploy-tool` currently run a privileged init container
# https://github.com/uselagoon/build-deploy-tool/blob/d2508efa74871cabe4c477e44bbe87e339d99f5d/internal/servicetypes/opensearch.go#L75-L96
# which will be removed in a future release
sysctlConfigure:
  enabled: false
  serviceAccount:
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname
    # template
    name:

  # this is only used for the max_map_count, but could support more
  sysctl:
    vm.max_map_count: 262144

  image:
    repository: alpine/k8s
    pullPolicy: IfNotPresent
    tag: 1.35.1
