{{- if .Values.apiDB.useExternal -}}
{{- if or (.Capabilities.APIVersions.Has "k8up.io/v1/Schedule") (.Capabilities.APIVersions.Has "backup.appuio.ch/v1alpha1/Schedule") }}
{{- if .Capabilities.APIVersions.Has "k8up.io/v1/Schedule" }}
apiVersion: k8up.io/v1
{{- else }}
apiVersion: backup.appuio.ch/v1alpha1
{{- end }}
kind: PreBackupPod
metadata:
  name: {{ include "lagoon-core.apiDB.fullname" . }}
  labels:
    {{- include "lagoon-core.apiDB.labels" . | nindent 4 }}
spec:
  backupCommand: |-
    /bin/sh -c "dump=$(mktemp) \
    && mysqldump --max-allowed-packet=1G --events --routines --quick \
    --add-locks --no-autocommit --single-transaction --no-create-db \
    --no-data --no-tablespaces \
    -h $API_DB_HOST \
    -P $API_DB_PORT \
    -u $API_DB_USERNAME \
    -p$API_DB_PASSWORD \
    $API_DB_DATABASE \
    > $dump \
    && mysqldump --max-allowed-packet=1G --events --routines --quick \
    --add-locks --no-autocommit --single-transaction --no-create-db \
    --no-create-info --no-tablespaces --skip-triggers \
    -h $API_DB_HOST \
    -P $API_DB_PORT \
    -u $API_DB_USERNAME \
    -p$API_DB_PASSWORD \
    $API_DB_DATABASE \
    >> $dump \
    && cat $dump && rm $dump"
  fileExtension: .mariadb-database.sql
  pod:
    spec:
      containers:
      - args:
        - sleep
        - infinity
        envFrom:
        - secretRef:
            name: {{ include "lagoon-core.apiDB.fullname" . }}
        image: uselagoon/database-tools:latest
        imagePullPolicy: Always
        name: api-db-prebackuppod
{{- end }}
{{- end }}