apiVersion: v1
kind: Service
metadata:
  name: {{ include "lagoon-core.authServer.fullname" . }}
  labels:
    {{- include "lagoon-core.authServer.labels" . | nindent 4 }}
spec:
  type: {{ .Values.authServer.service.type }}
  ports:
  - port: {{ .Values.authServer.service.port }}
    targetPort: http-3000
    name: http
  selector:
    {{- include "lagoon-core.authServer.selectorLabels" . | nindent 4 }}
