{{- if .Values.backupHandler.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lagoon-core.backupHandler.fullname" . }}
  labels:
    {{- include "lagoon-core.backupHandler.labels" . | nindent 4 }}
spec:
{{- if not .Values.backupHandler.autoscaling.enabled }}
  replicas: {{ .Values.backupHandler.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "lagoon-core.backupHandler.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/broker.secret: {{ include (print $.Template.BasePath "/broker.secret.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
    {{- with .Values.backupHandler.podAnnotations }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "lagoon-core.backupHandler.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml (coalesce .Values.backupHandler.podSecurityContext .Values.podSecurityContext) | nindent 8 }}
      containers:
      - name: backup-handler
        securityContext:
          {{- toYaml .Values.backupHandler.securityContext | nindent 10 }}
        image: "{{ .Values.backupHandler.image.repository }}:{{ coalesce .Values.backupHandler.image.tag .Values.imageTag .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.backupHandler.image.pullPolicy }}
        command:
        - "sh"
        - "-c"
        - |
          while ! nc -zvw5 $RABBITMQ_ADDRESS $RABBITMQ_PORT; do sleep 2; done
          exec /app/backup-handler
        env:
        - name: RABBITMQ_ADDRESS
          value: {{ include "lagoon-core.broker.fullname" . }}
        - name: RABBITMQ_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ include "lagoon-core.broker.fullname" . }}
              key: RABBITMQ_USERNAME
        - name: RABBITMQ_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "lagoon-core.broker.fullname" . }}
              key: RABBITMQ_PASSWORD
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: {{ include "lagoon-core.fullname" . }}-jwtsecret
              key: JWTSECRET
        - name: JWT_AUDIENCE
          value: api.dev
        - name: GRAPHQL_ENDPOINT
          value: http://{{ include "lagoon-core.api.fullname" . }}:{{ .Values.api.service.port }}/graphql
        - name: HTTP_LISTEN_PORT
          value: "3000"
      {{- range $key, $val := .Values.backupHandler.additionalEnvs }}
        - name: {{ $key }}
          value: {{ $val | quote }}
      {{- end }}
        ports:
        - name: http-3000
          containerPort: 3000
        livenessProbe:
          tcpSocket:
            port: http-3000
        readinessProbe:
          tcpSocket:
            port: http-3000
        resources:
          {{- toYaml .Values.backupHandler.resources | nindent 10 }}
      {{- with .Values.backupHandler.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - {{ include "lagoon-core.name" . }}
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                  - {{ include "lagoon-core.backupHandler.fullname" . }}
                - key: app.kubernetes.io/instance
                  operator: In
                  values:
                  - {{ .Release.Name }}
              topologyKey: kubernetes.io/hostname
      {{- with .Values.backupHandler.affinity }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.backupHandler.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
