apiVersion: v1
kind: Secret
metadata:
  name: "baas-repo-pw"
type: Opaque
data:
{{- if .Release.IsUpgrade }}
  repo-pw:  {{ index (lookup "v1" "Secret" .Release.Namespace baas-repo-pw).data "repo-pw" }}
{{ else }} # install operation
  repo-pw: {{ randAlphaNum 28 | b64enc }} 
{{ end }}
