{{- if or (.Capabilities.APIVersions.Has "k8up.io/v1/Schedule") (.Capabilities.APIVersions.Has "backup.appuio.ch/v1alpha1/Schedule") }}
{{- $schedule := index (lookup "k8up.io/v1" "Schedule" .Release.Namespace (include "lagoon-core.fullname" . )) | default dict }}
{{- $bucket := coalesce .Values.k8upBackupBucketName (dig "spec" "backend" "s3" "bucket" "" $schedule) (print "baas-" (include "lagoon-core.fullname" .) "-" (randAlphaNum 8 | lower)) }}
{{- if .Capabilities.APIVersions.Has "backup.appuio.ch/v1alpha1/Schedule" }}
{{- $schedule = index (lookup "backup.appuio.ch/v1alpha1" "Schedule" .Release.Namespace (include "lagoon-core.fullname" . )) | default dict }}
{{- $bucket = coalesce $bucket (dig "spec" "backend" "s3" "bucket" "" $schedule) (print "baas-" (include "lagoon-core.fullname" .) "-" (randAlphaNum 8 | lower)) }}
{{- end }}
{{- if .Capabilities.APIVersions.Has "k8up.io/v1/Schedule" }}
apiVersion: k8up.io/v1
{{- else }}
apiVersion: backup.appuio.ch/v1alpha1
{{- end }}
kind: Schedule
metadata:
  name: {{ include "lagoon-core.fullname" . }}
  labels:
    {{- include "lagoon-core.labels" . | nindent 4 }}
spec:
  backend:
    repoPasswordSecretRef:
      key: repo-pw
      name: "{{ include "lagoon-core.fullname" . }}-baas-repo-pw"
    s3:
      bucket: {{ $bucket | quote }}
      {{ with .Values.k8upS3Endpoint }}
      endpoint: {{ . | quote }}
      {{ end }}
  backup:
    schedule: '15 * * * *'
  check:
    schedule: '45 3 * * *'
  prune:
    retention:
      keepHourly: 36
      keepDaily: 30
      keepWeekly: 12
      keepMonthly: 12
    schedule: '26 4 * * 0'
{{- end }}