{{- if .Values.keycloakDB.useExternal -}}
{{- if or (.Capabilities.APIVersions.Has "k8up.io/v1/Schedule") (.Capabilities.APIVersions.Has "backup.appuio.ch/v1alpha1/Schedule") }}
{{- if .Capabilities.APIVersions.Has "k8up.io/v1/Schedule" }}
apiVersion: k8up.io/v1
{{- else }}
apiVersion: backup.appuio.ch/v1alpha1
{{- end }}
kind: PreBackupPod
metadata:
  name: {{ include "lagoon-core.keycloakDB.fullname" . }}
  labels:
    {{- include "lagoon-core.keycloakDB.labels" . | nindent 4 }}
spec:
  backupCommand: |-
    /bin/sh -c "dump=$(mktemp) \
    && mysqldump --max-allowed-packet=1G --events --routines --quick \
    --add-locks --no-autocommit --single-transaction --no-create-db \
    --no-data --no-tablespaces \
    -h $DB_HOST \
    -P $DB_PORT \
    -u $DB_USER \
    -p$DB_PASSWORD \
    $DB_DATABASE \
    > $dump \
    && mysqldump --max-allowed-packet=1G --events --routines --quick \
    --add-locks --no-autocommit --single-transaction --no-create-db \
    --no-create-info --no-tablespaces --skip-triggers \
    -h $DB_HOST \
    -P $DB_PORT \
    -u $DB_USER \
    -p$DB_PASSWORD \
    $DB_DATABASE \
    >> $dump \
    && cat $dump && rm $dump"
  fileExtension: .mariadb-database.sql
  pod:
    spec:
      containers:
      - args:
        - sleep
        - infinity
        env:
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              key: DB_HOST
              name: {{ include "lagoon-core.keycloak.fullname" . }}
        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              key: DB_PORT
              name: {{ include "lagoon-core.keycloak.fullname" . }}
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              key: DB_USER
              name: {{ include "lagoon-core.keycloak.fullname" . }}
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: DB_PASSWORD
              name: {{ include "lagoon-core.keycloak.fullname" . }}
        - name: DB_DATABASE
          valueFrom:
            secretKeyRef:
              key: DB_DATABASE
              name: {{ include "lagoon-core.keycloak.fullname" . }}
        image: uselagoon/database-tools:latest
        imagePullPolicy: Always
        name: api-db-prebackuppod
{{- end }}
{{- end }}