apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lagoon-core.keycloak.fullname" . }}
  labels:
    {{- include "lagoon-core.keycloak.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "lagoon-core.keycloak.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/keycloak.secret: {{ include (print $.Template.BasePath "/keycloak.secret.yaml") . | sha256sum }}
    {{- with .Values.keycloak.podAnnotations }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "lagoon-core.keycloak.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml (coalesce .Values.keycloak.podSecurityContext .Values.podSecurityContext) | nindent 8 }}
      containers:
      - name: keycloak
        securityContext:
          {{- toYaml .Values.keycloak.securityContext | nindent 10 }}
        image: "{{ .Values.keycloak.image.repository }}:{{ coalesce .Values.keycloak.image.tag .Values.imageTag .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.keycloak.image.pullPolicy }}
        env:
        - name: JAVA_OPTS
          value: >
            -server -Xms512m -Xmx4096m -XX:MetaspaceSize=96M
            -XX:MaxMetaspaceSize=256m -Djava.net.preferIPv4Stack=true
            -Djboss.modules.system.pkgs=org.jboss.byteman
            -Djava.awt.headless=true
        - name: DB_ADDR
          value: {{ include "lagoon-core.keycloakDB.fullname" . }}
      {{- range $key, $val := .Values.keycloak.additionalEnvs }}
        - name: {{ $key }}
          value: {{ $val | quote }}
      {{- end }}
        envFrom:
        - secretRef:
            name: {{ include "lagoon-core.keycloak.fullname" . }}
        ports:
        - name: http-8080
          containerPort: 8080
        livenessProbe:
          httpGet:
            path: /
            port: http-8080
          initialDelaySeconds: 90
        readinessProbe:
          httpGet:
            path: /
            port: http-8080
          initialDelaySeconds: 90
        startupProbe:
          httpGet:
            path: /
            port: http-8080
          failureThreshold: 20
          periodSeconds: 20
        resources:
          {{- toYaml .Values.keycloak.resources | nindent 10 }}
      {{- with .Values.keycloak.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.keycloak.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.keycloak.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
