{{- if .Values.logs2s3.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lagoon-core.logs2s3.fullname" . }}
  labels:
    {{- include "lagoon-core.logs2s3.labels" . | nindent 4 }}
spec:
{{- if not .Values.logs2s3.autoscaling.enabled }}
  replicas: {{ .Values.logs2s3.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "lagoon-core.logs2s3.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        checksum/broker.secret: {{ include (print $.Template.BasePath "/broker.secret.yaml") . | sha256sum }}
    {{- with .Values.logs2s3.podAnnotations }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "lagoon-core.logs2s3.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml (coalesce .Values.logs2s3.podSecurityContext .Values.podSecurityContext) | nindent 8 }}
      containers:
      - name: logs2s3
        securityContext:
          {{- toYaml .Values.logs2s3.securityContext | nindent 10 }}
        image: "{{ .Values.logs2s3.image.repository }}:{{ coalesce .Values.logs2s3.image.tag .Values.imageTag .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.logs2s3.image.pullPolicy }}
        env:
        - name: API_HOST
          value: http://{{ include "lagoon-core.api.fullname" . }}:{{ .Values.api.service.port }}
        - name: JWTSECRET
          valueFrom:
            secretKeyRef:
              name: {{ include "lagoon-core.fullname" . }}-jwtsecret
              key: JWTSECRET
        - name: RABBITMQ_HOST
          value: {{ include "lagoon-core.broker.fullname" . }}
        - name: RABBITMQ_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ include "lagoon-core.broker.fullname" . }}
              key: RABBITMQ_USERNAME
        - name: RABBITMQ_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "lagoon-core.broker.fullname" . }}
              key: RABBITMQ_PASSWORD
        - name: S3_FILES_BUCKET
          value: {{ required "A valid .Values.s3FilesBucket required!" .Values.s3FilesBucket | quote }}
        - name: S3_FILES_HOST
          value: {{ required "A valid .Values.s3FilesHost required!" .Values.s3FilesHost | quote }}
        {{- with .Values.s3FilesRegion }}
        - name: S3_FILES_REGION
          value: {{ . | quote }}
        {{- end }}
      {{- range $key, $val := .Values.logs2s3.additionalEnvs }}
        - name: {{ $key }}
          value: {{ $val | quote }}
      {{- end }}
        envFrom:
        - secretRef:
            name: {{ include "lagoon-core.api.fullname" . }}
        resources:
          {{- toYaml .Values.logs2s3.resources | nindent 10 }}
      {{- with .Values.logs2s3.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - {{ include "lagoon-core.name" . }}
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                  - {{ include "lagoon-core.logs2s3.fullname" . }}
                - key: app.kubernetes.io/instance
                  operator: In
                  values:
                  - {{ .Release.Name }}
              topologyKey: kubernetes.io/hostname
      {{- with .Values.logs2s3.affinity }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.logs2s3.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
