{{- if .Values.logs2email.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lagoon-core.logs2email.fullname" . }}
  labels:
    {{- include "lagoon-core.logs2email.labels" . | nindent 4 }}
spec:
{{- if not .Values.logs2email.autoscaling.enabled }}
  replicas: {{ .Values.logs2email.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "lagoon-core.logs2email.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        checksum/broker.secret: {{ include (print $.Template.BasePath "/broker.secret.yaml") . | sha256sum }}
    {{- with .Values.logs2email.podAnnotations }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "lagoon-core.logs2email.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml (coalesce .Values.logs2email.podSecurityContext .Values.podSecurityContext) | nindent 8 }}
      containers:
      - name: logs2email
        securityContext:
          {{- toYaml .Values.logs2email.securityContext | nindent 10 }}
        image: "{{ .Values.logs2email.image.repository }}:{{ coalesce .Values.logs2email.image.tag .Values.imageTag .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.logs2email.image.pullPolicy }}
        env:
        - name: API_HOST
          value: http://{{ include "lagoon-core.api.fullname" . }}:{{ .Values.api.service.port }}
        - name: JWTSECRET
          valueFrom:
            secretKeyRef:
              name: {{ include "lagoon-core.fullname" . }}-jwtsecret
              key: JWTSECRET
        - name: RABBITMQ_HOST
          value: {{ include "lagoon-core.broker.fullname" . }}
        - name: RABBITMQ_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ include "lagoon-core.broker.fullname" . }}
              key: RABBITMQ_USERNAME
        - name: RABBITMQ_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "lagoon-core.broker.fullname" . }}
              key: RABBITMQ_PASSWORD
      {{- range $key, $val := .Values.logs2email.additionalEnvs }}
        - name: {{ $key }}
          value: {{ $val | quote }}
      {{- end }}
        resources:
          {{- toYaml .Values.logs2email.resources | nindent 10 }}
      {{- with .Values.logs2email.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - {{ include "lagoon-core.name" . }}
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                  - {{ include "lagoon-core.logs2email.fullname" . }}
                - key: app.kubernetes.io/instance
                  operator: In
                  values:
                  - {{ .Release.Name }}
              topologyKey: kubernetes.io/hostname
      {{- with .Values.logs2email.affinity }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.logs2email.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
