{{- if .Values.opensearchSync.enabled -}}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "lagoon-core.opensearchSync.fullname" . }}
  labels:
    {{- include "lagoon-core.opensearchSync.labels" . | nindent 4 }}
stringData:
  OPENSEARCH_CA_CERTIFICATE: {{ required "A valid .Values.opensearchSync.opensearchCACertificate required!" .Values.opensearchSync.opensearchCACertificate | quote }}
{{- end }}
