apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lagoon-core.ssh.fullname" . }}
  labels:
    {{- include "lagoon-core.ssh.labels" . | nindent 4 }}
spec:
{{- if not .Values.ssh.autoscaling.enabled }}
  replicas: {{ .Values.ssh.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "lagoon-core.ssh.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        checksum/api-db.secret: {{ include (print $.Template.BasePath "/api-db.secret.yaml") . | sha256sum }}
    {{- with .Values.ssh.podAnnotations }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "lagoon-core.ssh.selectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        {{- toYaml (coalesce .Values.ssh.podSecurityContext .Values.podSecurityContext) | nindent 8 }}
      containers:
      - name: ssh
        securityContext:
          {{- toYaml .Values.ssh.securityContext | nindent 10 }}
        image: "{{ .Values.ssh.image.repository }}:{{ coalesce .Values.ssh.image.tag .Values.imageTag .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.ssh.image.pullPolicy }}
        env:
        - name: API_DB_HOST
          value: {{ include "lagoon-core.apiDB.fullname" . }}
        - name: API_DB_USER
          value: api
        - name: API_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "lagoon-core.apiDB.fullname" . }}
              key: API_DB_PASSWORD
        - name: API_HOST
          value: {{ include "lagoon-core.api.fullname" . }}
        - name: AUTH_SERVER
          value: {{ include "lagoon-core.authServer.fullname" . }}
        - name: GRAPHQL_ENDPOINT
          value: http://{{ include "lagoon-core.api.fullname" . }}:{{ .Values.api.service.port }}/graphql
        - name: JWTSECRET
          valueFrom:
            secretKeyRef:
              name: {{ include "lagoon-core.fullname" . }}-jwtsecret
              key: JWTSECRET
      {{- range $key, $val := .Values.ssh.additionalEnvs }}
        - name: {{ $key }}
          value: {{ $val | quote }}
      {{- end }}
        ports:
        - name: ssh
          containerPort: 2020
          protocol: TCP
        livenessProbe:
          tcpSocket:
            port: ssh
        readinessProbe:
          tcpSocket:
            port: ssh
        resources:
          {{- toYaml .Values.ssh.resources | nindent 10 }}
      {{- with .Values.ssh.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - {{ include "lagoon-core.name" . }}
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                  - {{ include "lagoon-core.ssh.fullname" . }}
                - key: app.kubernetes.io/instance
                  operator: In
                  values:
                  - {{ .Release.Name }}
              topologyKey: kubernetes.io/hostname
      {{- with .Values.ssh.affinity }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ssh.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
