{{- if .Values.ssh.enabled -}}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "lagoon-core.ssh.fullname" . }}
  labels:
    {{- include "lagoon-core.ssh.labels" . | nindent 4 }}
stringData:
  {{- with .Values.ssh.hostKeys.ecdsa }}
  HOST_KEY_ECDSA: |
    {{- . | nindent 4 }}
  {{- end }}
  {{- with .Values.ssh.hostKeys.ed25519 }}
  HOST_KEY_ED25519: |
    {{- . | nindent 4 }}
  {{- end }}
  {{- with .Values.ssh.hostKeys.rsa }}
  HOST_KEY_RSA: |
    {{- . | nindent 4 }}
  {{- end }}
{{- end }}
