# Any values defined here are not used anywhere other than lint/CI.

forward:
  username: lintUser
  password: lintPass
  host: example.com
  sharedKey: lintShared
  selfHostname: linthost
  verifyConnectionAtStartup: false

clusterName: lintcluster

tls:
  caCert: |-
    -----BEGIN CERTIFICATE-----
    MIIBkjCCATigAwIBAgIUD+qSorvr6FZrB7TLCIu0uovVOJ8wCgYIKoZIzj0EAwIw
    JzElMCMGA1UEAxMcbG9ncy1jYS5jbHVzdGVyMS5leGFtcGxlLmNvbTAeFw0yMDA3
    MTYwNjA5MDBaFw0zMDA3MTQwNjA5MDBaMCcxJTAjBgNVBAMTHGxvZ3MtY2EuY2x1
    c3RlcjEuZXhhbXBsZS5jb20wWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAAQphyVs
    IG3HdY59iwTQsa0QjK7DLLyDmqP8U+toWBdflnRyx4hZo9bwo7RtkLUHLQS/9fxy
    zX2QxltfebQrvZNZo0IwQDAOBgNVHQ8BAf8EBAMCAQYwDwYDVR0TAQH/BAUwAwEB
    /zAdBgNVHQ4EFgQU6epUZuE1RUCrUaP1q/+12soPKQkwCgYIKoZIzj0EAwIDSAAw
    RQIgWUyeYJH1/m8x2GBViwdNTIH2qZ0QW1GJc5lnjDnKQt0CIQCuyGnCuohaL9AP
    vrhH3LECw1VqWG11BkSN2aA+8a08Kw==
    -----END CERTIFICATE-----
  clientCert: |-
    -----BEGIN CERTIFICATE-----
    MIICADCCAaagAwIBAgIUAdgNH+8UkXruYvBCArE7Eov4hqYwCgYIKoZIzj0EAwIw
    JzElMCMGA1UEAxMcbG9ncy1jYS5jbHVzdGVyMS5leGFtcGxlLmNvbTAeFw0yMDA3
    MTYwNjEwMDBaFw0zMDA3MTQwNjEwMDBaMC8xLTArBgNVBAMTJGxvZ3MtZGlzcGF0
    Y2hlci5jbHVzdGVyMi5leGFtcGxlLmNvbTBZMBMGByqGSM49AgEGCCqGSM49AwEH
    A0IABHU+OOOz6rFcuAeg/OLbDbefqpimoxFeR/0yO4eK9EEfdO2c1gkMKRXow6w+
    GrDkXCxfcTdrbDOXxqAbh8vSqVOjgacwgaQwDgYDVR0PAQH/BAQDAgWgMBMGA1Ud
    JQQMMAoGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFNiO5G03dZ5Y
    VfVz9aD0/4QZTNWfMB8GA1UdIwQYMBaAFOnqVGbhNUVAq1Gj9av/tdrKDykJMC8G
    A1UdEQQoMCaCJGxvZ3MtZGlzcGF0Y2hlci5jbHVzdGVyMi5leGFtcGxlLmNvbTAK
    BggqhkjOPQQDAgNIADBFAiEApEYiK67n5QDoJc0dF4FeGtIIwdYhnhXjdxHuZ6wp
    z0ECICQ1fmMbZLm4sQLyhl8p7gAiZEfg/fgnM55HJWAts0vT
    -----END CERTIFICATE-----
  clientKey: |-
    -----BEGIN EC PRIVATE KEY-----
    MHcCAQEEIFdJNZeSImjoHp9UXTpzOyITqaDt84tNzChiI1pk8oTzoAoGCCqGSM49
    AwEHoUQDQgAEdT4447PqsVy4B6D84tsNt5+qmKajEV5H/TI7h4r0QR907ZzWCQwp
    FejDrD4asORcLF9xN2tsM5fGoBuHy9KpUw==
    -----END EC PRIVATE KEY-----

fluentdReplicaCount: 1
consolidateServiceIndices: true

logging-operator:
  monitoring:
    serviceMonitor:
      enabled: false

logsDispatcher:
  serviceMonitor:
    enabled: false
  replicaCount: 1
  buffer:
    storageClassName: standard
    size: 4Gi

cdnLogsCollector:
  enabled: true
  serviceMonitor:
    enabled: false
  replicaCount: 1
  buffer:
    storageClassName: standard
    size: 1Gi
  serviceType: ClusterIP
  tls:
    caCert: |-
      -----BEGIN CERTIFICATE-----
      MIIBkzCCATigAwIBAgIUEylWBS30BvLSM7DlTAeiJMqpzF0wCgYIKoZIzj0EAwIw
      JzElMCMGA1UEAxMcbG9ncy1jYS5jbHVzdGVyMS5leGFtcGxlLmNvbTAeFw0yMTA5
      MjQwMzMzMDBaFw0zMTA5MjIwMzMzMDBaMCcxJTAjBgNVBAMTHGxvZ3MtY2EuY2x1
      c3RlcjEuZXhhbXBsZS5jb20wWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAARvdkam
      oZypQWzQDkAP6lz5vZQTk6vlaoVKGhYfbYh9wpIG5Fd6vZaMVpA2kqkmJ2GuuGRi
      qyzSWHf6rWYHLCYio0IwQDAOBgNVHQ8BAf8EBAMCAQYwDwYDVR0TAQH/BAUwAwEB
      /zAdBgNVHQ4EFgQUNQMSQ5RyyBbMTBQXMe5mxykH2Q0wCgYIKoZIzj0EAwIDSQAw
      RgIhAJWCXW7sJpJf5DLDSMJ5uPu/FpIr53jt4I87TtGdeWpjAiEA7c9U+ncUyGum
      KumwMVHOT37qXJQlqekzhbjuqrzGAgM=
      -----END CERTIFICATE-----
    serverCert: |-
      -----BEGIN CERTIFICATE-----
      MIICBjCCAaygAwIBAgIUTxazeWSnnYEe6fyEzDXM3S8x1MowCgYIKoZIzj0EAwIw
      JzElMCMGA1UEAxMcbG9ncy1jYS5jbHVzdGVyMS5leGFtcGxlLmNvbTAeFw0yMTA5
      MjQwMzM0MDBaFw0zMTA5MjIwMzM0MDBaMDIxMDAuBgNVBAMTJ2Nkbi1sb2dzLWNv
      bGxlY3Rvci5jbHVzdGVyMS5leGFtcGxlLmNvbTBZMBMGByqGSM49AgEGCCqGSM49
      AwEHA0IABFV+AkbcTWNkytQkBHZ/FpA3MK+HA+Ct9OqCSGocrWJBTHZCj9yVnMUs
      9YVsdxyA/NW4UYo2fonD76CVNDaU16GjgaowgacwDgYDVR0PAQH/BAQDAgWgMBMG
      A1UdJQQMMAoGCCsGAQUFBwMBMAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFGYfPGoh
      KNYB+l/QLLx4MZidCyHqMB8GA1UdIwQYMBaAFDUDEkOUcsgWzEwUFzHuZscpB9kN
      MDIGA1UdEQQrMCmCJ2Nkbi1sb2dzLWNvbGxlY3Rvci5jbHVzdGVyMS5leGFtcGxl
      LmNvbTAKBggqhkjOPQQDAgNIADBFAiBzVqrMx3FCEt2L4AS1Fp6QpWHz3i+9rozk
      9wiuLItXYwIhALDp7ukoMWVOxr8ZVyoKcQ3zEUGBLevkTt1rSb6NFxhF
      -----END CERTIFICATE-----
    serverKey: |-
      -----BEGIN EC PRIVATE KEY-----
      MHcCAQEEIA/x25g6Q5anX7ivoEb0kmfHxuigJaDdNFu0vvvaFjPNoAoGCCqGSM49
      AwEHoUQDQgAEVX4CRtxNY2TK1CQEdn8WkDcwr4cD4K306oJIahytYkFMdkKP3JWc
      xSz1hWx3HID81bhRijZ+icPvoJU0NpTXoQ==
      -----END EC PRIVATE KEY-----

extraExcludeNamespaces:
- ci-fake-namespace-0
- ci-fake-namespace-1
