{{- $rabbitMQUsername := coalesce (.Values.global).rabbitMQUsername .Values.rabbitMQUsername }}
{{- $rabbitMQPassword := coalesce (.Values.global).rabbitMQPassword .Values.rabbitMQPassword }}

apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "lagoon-build-deploy.fullname" . }}
  labels:
    {{- include "lagoon-build-deploy.labels" . | nindent 4 }}
stringData:
  RABBITMQ_PASSWORD: {{ required "A valid rabbitMQPassword required!" $rabbitMQPassword | quote }}
  RABBITMQ_USERNAME: {{ required "A valid rabbitMQUsername required!" $rabbitMQUsername | quote }}
{{- if .Values.harbor.enabled }}
  HARBOR_PASSWORD: {{ .Values.harbor.adminPassword | quote }}
  HARBOR_USERNAME: {{ .Values.harbor.adminUser | quote }}
{{- end }}
