apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "lagoon-remote.storageCalculator.fullname" . }}
  labels:
    {{- include "lagoon-remote.storageCalculator.labels" . | nindent 4 }}
stringData:
  RABBITMQ_PASSWORD: {{ required "A valid .Values.storageCalculator.rabbitMQPassword required!" .Values.storageCalculator.rabbitMQPassword | quote }}
  RABBITMQ_USERNAME: {{ required "A valid .Values.storageCalculator.rabbitMQUsername required!" .Values.storageCalculator.rabbitMQUsername | quote }}
