lagoon-build-deploy:
  enabled: true
  rabbitMQUsername: lagoon
  rabbitMQPassword: ci
  rabbitMQHostname: lagoon-core-broker
  lagoonTargetName: ci-local-control-k8s

dockerHost:
  image:
    repository: uselagoon/docker-host
  storage:
    size: 50Gi

imageTag: ""

dbaas-operator:
  enabled: true

lagoon-gatekeeper:
  enabled: false
