apiVersion: v2
name: lagoon-logging
description: >
  A Helm chart for Kubernetes which installs the Lagoon container and router
  logs collection system.
home: https://github.com/amazeeio/charts
icon: https://raw.githubusercontent.com/uselagoon/lagoon-charts/main/icon.png
maintainers:
- name: smlx
  email: scott.leggett@amazee.io
  url: https://amazee.io
kubeVersion: ">= 1.25.0-0"

# Application charts are a collection of templates that can be packaged into
# versioned archives to be deployed.
type: application

# This is the chart version. This version number should be incremented each
# time you make changes to the chart and its templates, including the app
# version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.90.0

# AppVersion is set here the same as the logging-operator chart version to
# autopopulate the post-install CRD message.
appVersion: 4.11.4

dependencies:
- name: logging-operator
  repository: oci://ghcr.io/kube-logging/helm-charts
  version: 4.11.4
  condition: logging-operator.enabled

# This section is used to collect a changelog for artifacthub.io
# It should be started afresh for each release
# Valid supported kinds are added, changed, deprecated, removed, fixed and security
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: added
      description: allow support of additional env sources
