apiVersion: v2
name: lagoon-core
description: >
  A Helm chart for Kubernetes which deploys Lagoon's core components.
home: https://github.com/uselagoon/lagoon-charts
icon: https://raw.githubusercontent.com/uselagoon/lagoon-charts/main/icon.png
maintainers:
- name: smlx
  email: scott.leggett@amazee.io
  url: https://amazee.io
- name: shreddedbacon
  email: ben.jackson@amazee.io
  url: https://amazee.io
kubeVersion: ">= 1.23.0-0"

# Application charts are a collection of templates that can be packaged into
# versioned archives to be deployed.
type: application

# This is the chart version. This version number should be incremented each
# time you make changes to the chart and its templates, including the app
# version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 1.45.0

# This is the version number of the application being deployed. This version
# number should be incremented each time you make changes to the application.
# Versions are not expected to follow Semantic Versioning. They should reflect
# the version the application is using.
appVersion: v2.18.2

dependencies:
- name: nats
  version: ~0.19.0
  repository: https://nats-io.github.io/k8s/helm/charts/
  condition: nats.enabled

# This section is used to collect a changelog for artifacthub.io
# It should be started afresh for each release
# Valid supported kinds are added, changed, deprecated, removed, fixed and security
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: bump lagoon-opensearch-sync to v0.8.0
      links:
        - name: lagoon-opensearch-sync v0.8.0 release
          url: https://github.com/uselagoon/lagoon-opensearch-sync/releases/tag/v0.8.0
    - kind: changed
      description: bump ssh-portal-api from v0.30.1 to version v0.36.0
      links:
        - name: ssh-portal-api releases
          url: https://github.com/uselagoon/lagoon-ssh-portal/releases
    - kind: changed
      description: bump ssh-token from v0.30.1 to version v0.36.0
      links:
        - name: ssh-token releases
          url: https://github.com/uselagoon/lagoon-ssh-portal/releases
    - kind: changed
      description: bump insights-handler from v0.0.4 to version v0.0.5
      links:
        - name: ssh-portal releases
          url: https://github.com/uselagoon/insights-handler/releases/tag/v0.0.5
