# These values must be set on install, as they don't have sensible defaults.

# elasticsearchHost:
# harborURL:
# harborAdminPassword:
# kibanaURL:
# registry:
# sshHostKeyRSA:
# sshHostKeyED25519:
# s3FilesAccessKeyID:
# s3FilesBucket:
# s3FilesHost:
# s3SecretAccessKey:
# s3BAASAccessKeyID:
# s3BAASSecretAccessKey:


# These values are optional.

# overwriteKubectlBuildDeployDindImage:

# These values are optional depending on the services Lagoon is integrated with
# in your environment.

# s3Region:
# gitlabAPIURL:
# gitlabAPIToken:
# bitbucketAPIURL:
# bitbucketAPIToken:

# These values may be set on install, otherwise the chart tries to guess
# sensible defaults.

# lagoonAPIURL: https://api.example.com/graphql
# keycloakAPIURL: https://keycloak.example.com/auth
# lagoonUIURL: https://ui.example.com/
# lagoonWebhookURL: https://webhook-handler.example.com/

# These values are randomly generated on install if not otherwise defined.

# apiDBPassword:
# harborAdminPassword:
# jwtSecret:
# keycloakAPIClientSecret:
# keycloakAdminPassword:
# keycloakAuthServerClientSecret:
# keycloakLagoonAdminPassword:
# keycloakDBPassword:
# logsDBAdminPassword:
# rabbitMQPassword:
# redisPassword:

# These values are the chart defaults.

elasticsearchScheme: https
elasticsearchHostPort: 9200

rabbitMQUsername: lagoon

imagePullSecrets: []

# this default podSecurityContext is set for all services and can be overridden
# on the service level
podSecurityContext:
  runAsUser: 100

# this default image tag is set for all services and can be overridden
# on the service level, if not set is uses chart appVersion
imageTag: ""

# the following services are part of the lagoon-core chart

api:
  replicaCount: 2
  image:
    repository: amazeeiolagoon/api
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
    - host: api.example.com
      paths:
      - /
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  podAnnotations: {}

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

apiDB:
  image:
    repository: amazeeiolagoon/api-db
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  service:
    type: ClusterIP
    port: 3306

  podAnnotations:
    appuio.ch/backupcommand: >
      /bin/sh -c "mysqldump --max-allowed-packet=500M --events --routines
      --quick --add-locks --no-autocommit --single-transaction --all-databases"
    backup.appuio.ch/file-extension: .api-db.sql

  podSecurityContext:
    runAsUser: 100
    fsGroup: 0

apiRedis:
  image:
    repository: amazeeiolagoon/api-redis
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  service:
    type: ClusterIP
    port: 6379

keycloak:
  replicaCount: 1
  image:
    repository: amazeeiolagoon/keycloak
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  service:
    type: ClusterIP
    port: 8080

  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
    - host: webhook.example.com
      paths:
      - /
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

keycloakDB:
  replicaCount: 1
  image:
    repository: amazeeiolagoon/keycloak-db
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  service:
    type: ClusterIP
    port: 3306

  podAnnotations:
    appuio.ch/backupcommand: >
      /bin/sh -c "mysqldump --max-allowed-packet=500M --events --routines
      --quick --add-locks --no-autocommit --single-transaction --all-databases"
    backup.appuio.ch/file-extension: .keycloak-db.sql

  podSecurityContext:
    runAsUser: 100
    fsGroup: 0

broker:
  replicaCount: 3
  image:
    repository: amazeeiolagoon/broker
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  service:
    type: ClusterIP
    ports:
      epmd: 4369
      amqp: 5672
      http: 15672
      metrics: 15692
    amqpExternal:
      enabled: false
      type: LoadBalancer
      port: 5672

  serviceMonitor:
    enabled: true

  podAnnotations: {}

  serviceAccount:
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname
    # template
    name: ""

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  podSecurityContext:
    runAsUser: 100
    fsGroup: 0

  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
    - host: broker.example.com
      paths:
      - /
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local


authServer:
  replicaCount: 2
  image:
    repository: amazeeiolagoon/auth-server
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  service:
    type: ClusterIP
    port: 80

  podAnnotations: {}

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

webhooks2tasks:
  enabled: true
  replicaCount: 2
  image:
    repository: amazeeiolagoon/webhooks2tasks
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

webhookHandler:
  enabled: true
  replicaCount: 2
  image:
    repository: amazeeiolagoon/webhook-handler
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  service:
    type: ClusterIP
    port: 3000

  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
    - host: webhook.example.com
      paths:
      - /
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

ui:
  replicaCount: 2
  image:
    repository: amazeeiolagoon/ui
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  service:
    type: ClusterIP
    port: 3000

  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
    - host: ui.example.com
      paths:
      - /
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

backupHandler:
  replicaCount: 2
  image:
    repository: amazeeiolagoon/backup-handler
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  service:
    type: ClusterIP
    port: 3000

  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
    - host: backup.example.com
      paths:
      - /
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

autoIdler:
  enabled: true
  image:
    repository: amazeeiolagoon/auto-idler
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

storageCalculator:
  enabled: true
  image:
    repository: amazeeiolagoon/storage-calculator
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

logs2slack:
  enabled: true
  replicaCount: 2
  image:
    repository: amazeeiolagoon/logs2slack
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

logs2microsoftteams:
  enabled: true
  replicaCount: 2
  image:
    repository: amazeeiolagoon/logs2microsoftteams
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

logs2rocketchat:
  enabled: true
  replicaCount: 2
  image:
    repository: amazeeiolagoon/logs2rocketchat
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

logs2email:
  enabled: true
  replicaCount: 2
  image:
    repository: amazeeiolagoon/logs2email
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

drushAlias:
  enabled: true
  replicaCount: 2
  image:
    repository: amazeeiolagoon/drush-alias
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  service:
    type: ClusterIP
    port: 8080

  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
    - host: drush-alias.example.com
      paths:
      - /
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

logsDBCurator:
  enabled: true
  image:
    repository: amazeeiolagoon/logs-db-curator
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

ssh:
  replicaCount: 2
  image:
    repository: amazeeiolagoon/ssh
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  podSecurityContext:
    runAsUser: 1000
    fsGroup: 0

  service:
    type: ClusterIP
    port: 2020

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

sshPortal:
  enabled: false
  replicaCount: 2
  image:
    repository: amazeeiolagoon/ssh-portal
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: "pr-2179"

  service:
    type: ClusterIP
    port: 2222

  podAnnotations: {}

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  serviceAccount:
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname
    # template
    name: ""

controllerhandler:
  enabled: true
  replicaCount: 2
  image:
    repository: amazeeiolagoon/controllerhandler
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  podAnnotations: {}

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
