name: Lint and test charts - matrix

on: pull_request

jobs:
  # runs for all charts other than lagoon-test, which is excluded in
  # default.ct.yaml
  lint-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        kindest_node_version:
        - v1.23.17@sha256:59c989ff8a517a93127d4a536e7014d28e235fb3529d9fba91b3951d461edfdb
        - v1.24.15@sha256:7db4f8bea3e14b82d12e044e25e34bd53754b7f2b0e9d56df21774e6f66a70ab
        - v1.25.11@sha256:227fa11ce74ea76a0474eeefb84cb75d8dad1b08638371ecf0e86259b35be0c8
        - v1.26.6@sha256:6e2d8b28a5b601defe327b98bd1c2d1930b49e5d8c512e1895099e4504007adb
        - v1.27.3@sha256:3966ac761ae0136263ffdb6cfd4db23ef8a83cba8a463690e98317add2c9ba72
        - v1.29.0@sha256:eaa1450915475849a73a9227b8f201df25e55e268e5d619312131292e324d570
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: "0"

    - name: Set up chart-testing dependencies
      run: sudo apt-get -y install python3-wheel

    - name: Set up chart-testing
      uses: helm/chart-testing-action@v2.6.0

    - name: Run chart-testing (list-changed)
      id: list-changed
      run: |
        changed=$(ct list-changed --config ./default.ct.yaml)
        if [[ "$changed" ]]; then
          echo "changed=true" >> $GITHUB_OUTPUT
          echo "$changed"
        fi

    - name: Run chart-testing (lint)
      run: ct lint --config ./default.ct.yaml

    - name: Create kind cluster
      uses: helm/kind-action@v1.8.0
      with:
        version: v0.20.0
        node_image: kindest/node:${{ matrix.kindest_node_version }}
      if: |
        (steps.list-changed.outputs.changed == 'true') ||
        (contains(github.event.pull_request.labels.*.name, 'needs-testing'))

    - name: Run chart-testing (install)
      run: ct install --config ./default.ct.yaml --helm-extra-args "--timeout 30m"

    - name: Run chart-testing (needs-testing)
      run: ct install --config ./default.ct.yaml  --helm-extra-args "--timeout 30m" --all
      if: |
        (contains(github.event.pull_request.labels.*.name, 'needs-testing'))
