name: Release Charts

on:
  push:
    branches:
    - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      with:
        fetch-depth: "0"

    - name: Configure Git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Add dependency chart repos
      run: |
        helm repo add lagoon https://uselagoon.github.io/lagoon-charts/
        helm repo add amazeeio https://amazeeio.github.io/charts/
        helm repo add nats https://nats-io.github.io/k8s/helm/charts/
        helm repo add kube-logging https://kube-logging.github.io/helm-charts

    - name: Run chart-releaser
      uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
      env:
        CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        # don't upload a chart if an existing tag exists
        CR_SKIP_EXISTING: "true"
